# Some random gitignore for latex files from https://gist.github.com/kogakure/149016

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Some manual additional entries

*.bbl
*.fdb_latexmk
*.fls

# Editor files
*.sublime-*

# Pdf's in src folder
src/*.pdf
